@font-face{
  font-family: 'century-gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/century-gothic.ttf);
}

.material-icons {
  font-family: 'Material Icons' !important;
}

*{
	font-family: 'century-gothic' !important;
}
.justify{
	text-align: justify;
}
.full{
  width: 100%;
}
.sidenav li>a{
	color: #FFF;
}

/*Login*/
.card-login{
    margin-top: 15%;
}
body{
	background: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}